sax
osmosis_relation_associatedStreet
osmosis_powerline
osmosis_waterway
osmosis_way_approximate
osmosis_highway_vs_building
osmosis_building_overlaps
osmosis_relation_multipolygon
merge_street_number
osmosis_useless
merge_pitch_FR
osmosis_feature_on_way
osmosis_building_shapes
osmosis_broken_highway_level_continuity
merge_school_FR
osmosis_surface_overlaps
merge_public_transport_BE_wallonia
osmosis_highway_cul-de-sac_level
osmosis_roundabout_level
osmosis_boundary_relation
osmosis_mini_farm
osmosis_deadend
merge_heritage_FR_merimee
merge_pharmacy_FR
osmosis_noexit
merge_service_public_FR
osmosis_tag_typo
osmosis_node_like_way
osmosis_geodesie
osmbin_open_relations
osmosis_natural_swimming-pool
merge_postal_code_FR
merge_poste_FR
osmosis_relation_restriction
osmosis_boundary_administrative
osmosis_tunnel_bridge
osmosis_roundabout
osmosis_highway_link
osmosis_soundex
osmosis_duplicated_geotag
osmosis_double_tagging
merge_railway_level_crossing_FR
osmosis_highway_crossing
merge_fuel_FR
osmosis_polygon
merge_railway_railstation_FR
merge_geodesie
merge_college_FR
osmosis_boundary_intersect
merge_parking_FR_cub
osmosis_orphan_nodes_cluster
merge_restaurant_FR_aquitaine
merge_police_FR
osmosis_boundary_hole
merge_public_transport_FR_transgironde
merge_winery_FR_aquitaine
merge_tmc_point_FR
merge_public_transport_FR_tbc
merge_recycling_FR_cub
osmosis_roundabout_reverse
osmosis_relation_large
merge_bicycle_parking_FR_bordeaux
merge_restaurant_FR_cg71
merge_car_rental_FR_paris
osmosis_fantoir
osmosis_cycleway_track
merge_wikipedia_FR
merge_tourism_FR_gironde_camp_caravan
merge_library_FR_aquitaine
merge_sport_FR_gironde_equestrian
merge_tourism_FR_gironde_museum
merge_tourism_FR_gironde_information
merge_public_equipment_FR_bordeaux_toilets
merge_parking_FR_capp
merge_public_transport_FR_ratp
merge_recycling_FR_capp_glass
merge_bicycle_rental_FR_capp
merge_bicycle_rental_FR_cub